
services:
  db:
    image: mysql:8.0
    container_name: tp_mysql
    restart: always
    environment:
      MYSQL_DATABASE: laravel_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql

  php1:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: tp_php1
    restart: always
    volumes:
      - ./src1:/var/www
    environment:
      - IS_PRIMARY=true
      - DB_HOST=db
      - DB_DATABASE=laravel_db
      - DB_USERNAME=user
      - DB_PASSWORD=password
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_BUCKET=laravel-bucket
      - AWS_ENDPOINT=http://tp_minio:9000 
      - AWS_URL=http://127.0.0.1:9003
      - AWS_USE_PATH_STYLE_ENDPOINT=true
    depends_on:
      - db

  nginx1:
    image: nginx:alpine
    container_name: tp_nginx1
    restart: always
    ports:
      - "8081:80"
    volumes:
      - ./src1:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php1

  php2:
    build: 
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: tp_php2
    restart: always
    volumes:
      - ./src2:/var/www
    environment:
      - IS_PRIMARY=false
      - DB_HOST=db
      - DB_DATABASE=laravel_db
      - DB_USERNAME=user
      - DB_PASSWORD=password
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_BUCKET=laravel-bucket
      - AWS_ENDPOINT=http://tp_minio:9000 
      - AWS_URL=http://127.0.0.1:9003
      - AWS_USE_PATH_STYLE_ENDPOINT=true
    depends_on:
      - db

  nginx2:
    image: nginx:alpine
    container_name: tp_nginx2
    restart: always
    ports:
      - "8082:80"
    volumes:
      - ./src2:/var/www
      - ./docker/nginx/default2.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php2

  # --- LE BONUS MAILPIT ---
  mailpit:
    image: axllent/mailpit
    container_name: tp_mailpit
    restart: always
    ports:
      - "8025:8025" 
      - "1025:1025" 

    # --- LE BONUS MINIO ---
  minio:
    image: minio/minio
    container_name: tp_minio
    restart: always
    ports:
      - "9003:9000" 
      - "9004:9001" 
    volumes:
      - minio_data:/data 
    environment:
      - MINIO_ROOT_USER=${AWS_ACCESS_KEY_ID} 
      - MINIO_ROOT_PASSWORD=${AWS_SECRET_ACCESS_KEY}
    command: server /data --console-address ":9001"



volumes:
  db_data:
  minio_data:

# networks:
#   tp_network:
#     driver: bridge